.max-width-content {
    max-width: max-content;
}

.mt-half{
    margin-top: 1px;
}

.navbar-toggler{
    padding: 0px;
    border: none;
    font-size: 12px;
}

.nav-button{
    font-weight: 500;
    color: #8d8d8d;
}
.nav-button:hover{
    color: rgb(81, 81, 81);
}