.max-width-content {
    max-width: max-content;
}

.mt-half{
    margin-top: 1px;
}

.navbar-toggler{
    padding: 0px;
    border: none;
    font-size: 12px;
}

header{
    border-bottom: 1px solid rgb(227 220 220);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.nav-button{
    font-weight: 500;
    color: #8d8d8d;
}
.nav-button:hover{
    color: rgb(81, 81, 81);
}