<!doctype html>
<html lang="en">

<head>
        <%- include('../generalPartials/_head.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/resetPassword.css">
        <script>
            const key = '<%= locals.key %>'
        </script>
</head>


<body>
    <main>
        <div class="w-100 d-flex justify-content-center align-items-center passwordContent-container" style="height: 100vh">
            <div class="passwordContent bg-white">
                <div class="header">
                    <span>Change your password</span>
                </div>
                <div class="row">
                    <div class="form col-12 col-md-6 col-xl-6 pe-md-5">
                        <form action="" class="change-password">
                            <div class="mb-3">
                                <label for="newPassword">New Password</label>
                                <input type="text" class="form-control" id="newPassword" aria-describedby="new password">
                            </div>
                            <div class="mb-3">
                                <label for="confirmNewPassword">Confirm New Password</label>
                                <input type="text" class="form-control" id="confirmNewPassword"
                                    aria-describedby="confirm new password">
                            </div>
                            <div class="mb-3">
                                <input type="button" class="btn changePasswordBtn w-100" id="changePasswordBtn"
                                    value="Change Password" disabled>
                            </div>
                        </form>
                    </div>
                    <div
                        class="instructions col-12 col-md-6 col-xl-6 d-flex flex-column align-items-start align-items-md-center align-items-lg-start align-items-xl-center">
                        <div class="header">Password must contain: </div>
                        <ul class="passwordInstructionsList ">
                            <li class="uppercase line-through">Atleast 1 uppercase letter(A-z)</li>
                            <li class="number line-through">Atleast 1 number</li>
                            <li class="minLength line-through">Atleast 8 characters</li>
                            <li class="specialCharacter line-through">Atleast 1 special character</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/user/resetPassword.js"></script>
</html>