<header>
    <div class="d-flex justify-content-between container py-3">
        <div class="logo">CRIO</div>
        <div class="searchbar">
            <div class="header-serach-bar">
                <button id="productSearch"  class="header-serach-btn">
                    <i class="bi bi-search"></i>
                </button>
                <input id="productSearchInput"  type="text" placeholder="Search" class="header-serach-input">
            </div>
        </div>
        <div >buttons</div>
    </div>
</header>