<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 1051">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-none">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="body-content">
                    <div class="section-container">
                        <div class="section-header fw-bold">User Details</div>
                        <div class="name">
                            <span class="fw-bold">Name:</span> <span class="ms-3 user-name"></span>
                        </div>
                        <div class="credential">
                            <span class="fw-bold">Email:</span> <span class="ms-3 user-credential"></span>
                        </div>
                    </div>

                    <div class="section-container">
                        <div class="section-header fw-bold">User Address</div>
                        <div class="user-address">
                            <div class="address">
                                <span class="name fw-500 user-name">
                                    
                                </span>
                                <span class="actual-address">

                                </span>
                                </span>
                                <div>
                                    <span class="phone-number">Mobile Number : <span class="mobile"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-container">
                        <div class="section-header fw-bold">Products</div>
                        <div class="products-container">
                            
                            <div class="product d-flex gap-2">
                                <div class="image border">
                                    <img width="100px" src="" alt="">
                                </div>
                                <div class="name">
                                    <a href="http://localhost:3000/product_detail/64ed034b4514f9b6ec0cbe3a"
                                        class="responsive-text minimize-3">
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-container">
                        <div class="section-header fw-bold">Invoice</div>
                        <div class="invoice-container">
                            <div class="product-invoiceContainer">
                                <div class="product-invoice d-flex justify-content-between">
                                        <div>
                                            <span class="fw-500"> <span class="brand-model">Sony WH-XM</span> : <span></span>
                                        </div>
                                    <div class="color-black">
                                        <span class="color-light">(11 * 29545.00)</span><span class="fs-18 fw-500">₹
                                            3,24,995.00</span>
                                    </div>
                                </div>
    
                                <div class="product-invoice d-flex justify-content-between">
                                    <div>
                                        <span class="fw-500"> <span class="brand-model">Oneplus Nord Buds</span> :
                                            <span></span>
                                    </div>
                                    <div class="color-black">
                                        <span class="color-light">(1 * 4995.000)</span><span class="fs-18 fw-500">₹
                                            4,995.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-invoice d-flex justify-content-between">
                                <div>
                                    <span class="fw-500"> <span class="brand-model">Delivery Charge</span> :
                                        <span></span>
                                </div>
                                <div class="color-black">
                                    <span class="fs-18 fw-500 text-decoration-line-through delivery-charge">₹ </span>
                                </div>
                            </div>

                            <div class="product-invoice d-flex justify-content-between">
                                <div>
                                    <span class="fw-500"> <span class="brand-model">Total</span> : 
                                </div>
                                <div class="color-black">
                                    <span class="fs-18 fw-500 total-price"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="section-container">
                        <div class="section-header fw-bold">Order Details</div>
                        <div class="payment-method">
                            <span class="fw-500">Payment Method :</span> <span class="payment-method-type"></span>
                        </div>
                        <div class="created-at my-2">
                            <span class="fw-500">Ordered Date :</span> <span class="create-at-date">12-02-2002</span>
                        </div>
                        <div class="created-at d-flex align-items-center" id="DeliveryDatePicker">
                            <span class="fw-500">Delivery Date : </span> <input type="text" id="datepicker"
                                class="date-input">
                            <button class="btn btn-primary ms-auto" id="updateExpectedDeliveryDate">Update</button>
                        </div>
                    </div>
                    
                    <div class="section-container">
                        <div class="section-header fw-bold">Order State</div>
                        <div class="current-order-state">
                            <span class="fw-500">Order state :</span> <span class="current-state"></span>
                        </div>
                        <div class="current-order-state-reason">
                            <span class="fw-500">Reason : </span> <span class="current-state-reason"></span>
                        </div>

                        <div class="fw-500 mt-3">Update Order State</div>
                        <div class="status mt-2">
                                <div class="dropdown w-100">
                                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                        
                                    </div>
                                </div>
                                
                                <div class="row gap-1 px-2 mt-2">
                                    <input type="text" class="col-12 reason-input d-none">
                                    <button class="btn btn-primary col-12 state-update-btn ms-auto" disabled>Update State</button>
                                </div>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="modal-footer border-none">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div> 

<script>
    
</script>