<div class="userSectionContainer">

    <div class="userSectionHeader d-flex align-items-center justify-content-between mx-5 my-2">
        <div class="headerText">
            Products
        </div>
        <div class="userTableControllers d-flex gap-2 align-items-center">
            <!-- search tab -->
            <div class="productSeachCancel">
                <button class="btn fs-6 cancel-search-btn product d-none">
                    search <span class="fw-bold">x</span>
                </button>
            </div>
            <div class="userTableSearch me-3">
                <input id="productSearchInput" class="form-control rounded" placeholder='Search'
                    style="min-width: 225px" />
                <i class="bi bi-search search-icon" id="productSearchButton"></i>
            </div>
            <!-- Add Product -->
            <div>
                <button id="addProductBtn" type="button" class="btn btn-primary">Add Product+</button>
            </div>
        </div>
    </div>


    <table class="table userTable">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Actual Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Current Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            

        </tbody>
    </table>
</div>

<%- include("./productModal") %>