<div class="form-content w-100 otpFormContainer" >
    
    <div class="form bg-white p-4 border-20">
        <div class="form-header text-center">
            <h1>OTP Authentication</h1>
            <p>We'll send a one-time password (OTP) to the mobile number. Once you receive the OTP, enter it below to proceed.</p>
        </div>
        <form id="otpValidationForm">
            <div id="otp" class="inputs d-flex flex-row justify-content-center my-3">
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" disabled/>
                <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" disabled>
                <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" disabled/>
                <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" disabled/>
                <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" disabled/>
                <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" disabled/>
            </div>
            <button id="sendOtpBtn" class="btn btn-primary w-100 mb-5">Send</button>
        </form>
    </div>

</div>

<button class="back-btn">
    <i class="bi bi-arrow-left-circle-fill"></i>
</button>
<script src="/js/otpAuth.js" defer></script>