<div class="cart-container p-1 p-md-3 container">
    <div class="cartContiner row gap-3" >
        <div class="cartItemContainer col-12 col-md-8 p-1 p-md-3">
            <div class="cart-header p-3">
                <h3 class="">Shoping Cart</h3>
                <hr>
            </div>
            <div id="products-container">

            </div>
            <div class="noProductMessage">
                <div class="header ms-3 d-flex flex-column align-items-center">
                    <img src="accets/empty-cart.png" width="200px" alt="">
                    <span class="m-auto">Your cart is empty.</span>
                </div>
            </div>
        </div>
        <div class="cart-insight-container col-12 col-md p-3 bg-white d-none">
            <div class="insight-container">
                <div class="free-delivery-status">
                    <div class="d-flex align-items-center">
                        <div class="icon-container">
                            <i class="fa-solid fa-circle-check d-none tick"></i>
                            <i class="fa-solid fa-circle-xmark d-none cross"></i>
                        </div>
                        <div class="text-container">
                            <span class="freeDeliveryEligilityText"></span>
                        </div>
                    </div>
                </div>

                <div class="price-details-container mt-3 ">
                    <div class="total">
                        <div>
                            <span class="fw-bold">Subtotal (<span class="total-count"></span> items): ₹<span class="total-price"></span></span>
                        </div>
                        <div>
                            <span class="discount-text">Discount : ₹<span class="total-discount"></span></span>
                        </div>
                    </div>
                </div>
                <div class="proceed-to-buy-container mt-3">
                    <button class="proceed-to-pay-btn">Proceed to Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/981a38a7c9.js" crossorigin="anonymous"></script>



