<div class="form-content w-100">
    <div class="form-header text-center">
            <h1>Forgot Password</h1>
            <p>One Click Away from Resetting Your Password</p>
    </div>
    <div class="form bg-white p-4 border-20">
        <form>
            <div class="form-group d-flex form-control mb-3" id="emailMobile">
                <input id="forgotPasswordEmal" type="text" class="form-input" aria-describedby="emailMobile"
                    placeholder="Email<% if( locals.associate != 'admin') { %> / Mobile  <% } %>">
                <span data-tooltip="I’m the tooltip text." class="d-none">
                    <i class="bi bi-exclamation-circle-fill error-icon"></i>
                </span>
            </div>
            <button id="FPEmailSubmitBtn" class="btn btn-primary w-100" disabled>Submit</button>
        </form>
            <div class="mt-3 d-flex justify-content-end">
                <div>
                    <a class="back-to-login " href="forgot_password">Login</a>
                </div>

            </div>
    </div>

</div>


<script src="<%=associate=='admin'?'../':''%>js/user/forgotPassword.js"></script>