<link rel="stylesheet" href="/css/searchPage.css">

<section class="search-result-section">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white p-2">
            <div class="filter-sort-container">
                <div class="fw-bold h5">Filter</div>
                <div>
                    <!-- brand -->
                    <div class="filter">
                        <div class="h6">
                            Brand
                        </div>
                        <div class="filter-options brand-filter-container ps-2">
                            <!-- js injection -->
                        </div>
                    </div>
    
                    <!-- price -->
                    <div class="filter">
                        <div class="h6">
                            Price
                        </div>
                        <div class="filter-options ps-2">
                            <div>
                                <input name="price" data-start="0" data-end="1000" id="under-1k" type="radio" aria-label="Checkbox for following text input">
                                <label for="under-1k">Under ₹1,000</label>
                            </div>
                            <div>
                                <input name="price" id="btw1k-5k" data-start="1000" data-end="5000" type="radio" aria-label="Checkbox for following text input">
                                <label for="btw1k-5k">₹1,000 - ₹5,000</label>
                            </div>
                            <div>
                                <input name="price" id="btw5k-10k" data-start="5000" data-end="10000" type="radio" aria-label="Checkbox for following text input">
                                <label for="btw5k-10k">₹5,000 - ₹10,000</label>
                            </div>
                            <div>
                                <input name="price" id="btw10k-20k" data-start="10000" data-end="20000" type="radio" aria-label="Checkbox for following text input">
                                <label for="btw10k-20k">₹10,000 - ₹20,000</label>
                            </div>
                            <div>
                                <input name="price" id="above-20k"  data-start="20000" data-end="Infinity"  type="radio" aria-label="Checkbox for following text input">
                                <label for="above-20k">Above ₹20,000</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- pay on delivery -->
                    <div class="filter">
                        <div class="h6">
                            Pay On Delivery
                        </div>
                        <div class="filter-options ps-2">
                            <div>
                                <input name="payOnDelivery" id="payOnDelivery" type="checkbox" aria-label="Checkbox for following text input">
                                <label for="payOnDelivery">Eligible for Pay On Delivery</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- discount -->
                    <div class="filter">
                        <div class="h6">
                            Discount
                        </div>
                        <div class="filter-options discount-filter ps-2">
                            <div>
                                <input name="discount" id="10percent" value="10" type="radio" aria-label="Checkbox for following text input">
                                <label for="10percent">10% Off or more</label>
                            </div>
                            <div>
                                <input name="discount" id="25percent" value="25" type="radio" aria-label="Checkbox for following text input">
                                <label for="25percent">25% Off or more</label>
                            </div>
                            <div>
                                <input name="discount" id="35percent" value="35" type="radio" aria-label="Checkbox for following text input">
                                <label for="35percent">35% Off or more</label>
                            </div>
                            <div>
                                <input name="discount" id="50percent" value="50" type="radio" aria-label="Checkbox for following text input">
                                <label for="50percent">50% Off or more</label>
                            </div>
                            <div>
                                <input name="discount" id="60percent" value="60" type="radio" aria-label="Checkbox for following text input">
                                <label for="60percent">60% Off or more</label>
                            </div>
                            <div>
                                <input name="discount" id="80percent" value="80" type="radio" aria-label="Checkbox for following text input">
                                <label for="80percent">80% Off or more</label>
                            </div>
                            
                        </div>
                    </div>
    
                    <!-- availability -->
                    <div class="filter">
                        <div class="h6">
                            Availability
                        </div>
                        <div class="filter-options ps-2">
                            <div>
                                <input name="stockOnly" id="stockOnly" type="checkbox"
                                    aria-label="Checkbox for following text input">
                                <label for="stockOnly">In stock only</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="filter-sort-diff">
                <div>
                    <div class="fw-bold h5">Sort</div>
                    <div class="sort-options ps-2">
                        <div>
                            <input value="acc" name="priceSort" id="price-low-to-high" type="radio" aria-label="radio for following text input">
                            <label for="price-low-to-high">Price low to high</label>
                        </div>
                        <div>
                            <input value="dec" name="priceSort" id="price-high-to-low" type="radio" aria-label="radio for following text input">
                            <label for="price-high-to-low">Price high to low</label>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    
        
    </header>
    <!--Main Navigation-->
    
    <!-- this is the sidebar toggler button -->
    <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">this
        <i class="fas fa-bars"></i>
    </button> -->
    <!--Main layout-->
    <main class="px-4 py-3 main">
        <div>
            <div ><span class="result-header">Results</span></div>
        </div>

        <div id="result-product-container">
            <div class="product_container d-flex">
                <div class="image_container">
                    <img src="/71iiXU7HHkL._SY355_.jpg" alt="">
                </div>
                <div class="details p-3">
                    <div class="product-name">
                        <a href="/product_details/64ed034b4514f9b6ec0cbe3a">
                            Sony WH-1000XM5 Wireless Industry Leading Active Noise Cancelling Headphones, 8 Mics for Clear Calling, 30Hr Battery, 3
                            Min Quick Charge = 3 Hours Playback, Multi Point Connectivity, Alexa - Black and some more text to check the long text handling capability
                        </a>
                        
                    </div>
                    <div class="rating"></div>
                    <div class="prices d-flex gap-2">
                        <div class="currentprice">₹22,990</div>
                        <div class="actualprice">M.R.P: ₹29,990</div>
                        <div class="discount">(23% off)</div>
                    </div>
                    <div class="spacalities_brand">
                        <div class="brand">Brand: Sony</div>
                        <div class="freedelivery">Free Delivery</div>
                        <div class="warranty">2 Year Warranty   </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->
</section>

<script src="/js/user/searchPage.js"></script>
