<div class="form-group d-flex form-control mb-3 " id="emailMobile">
    <select id="country-code-value" class="d-none">
        <option value="+91">India +91</option>
    </select>
    <input type="text" class="form-input w-100" aria-describedby="emailMobile" placeholder="Email/Mobile"
        id="emailMobileInputField">

    <span class="d-none">
        <i class="bi bi-exclamation-circle-fill error-icon"></i>
    </span>
</div>