<div class="container mt-3 wallet-container p-0 p">
  <div class="row gap-3">
    <div class="col-12 col-md tile">
      <div>
        <div class="h4 m-0">Balance :</div>
        <div class="ms-3">
          ₹
          <span id="wallet_balance"
            ><%=locals.balance.toLocaleString(undefined, {
            minimumFractionDigits: 2,maximumFractionDigits: 2,})%></span
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md tile">
      <div class="h4 m-0">Crendential :</div>
      <div class="ms-3"><%=locals.credential%></div>
    </div>
  </div>

  <div class="row mt-3 gap-3 mb-4">
    <div class="tile col-12 col-md-3">
      <ul class="nav nav-pills flex-md-column mt-1" style="color: #007bff">
        <li class="nav-item">
          <a class="nav-link add_money_btn" aria-current="page">Add Money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link send_money_btn">Send Money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link transaction_history_btn">Transaction History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link referal_btn">Referal</a>
        </li>
      </ul>
    </div>

    <div class="tile col d-none operationContainer">
      <div class="operation_header h4"></div>

      <div class="addMoney d-none">
        <div class="amount_input_container">
          <div class="amount-input-header">Enter Amount</div>
          <div class="d-flex">
            <div class="symbol">₹</div>
            <div class="input_field">
              <input
                id="add_money_input"
                type="Number"
                min="1"
                max="100000"
                value="1000"
              />
            </div>
          </div>
        </div>
        <div class="send_btn_container mt-3">
          <button id="pay_btn" class="btn btn-warning w-100">
            Add Money To Wallet
          </button>
        </div>
      </div>

      <div class="sendMoney d-none">
        <div class="input-group mb-4">
          <input
            id="user_search_input"
            type="search"
            placeholder="Enter User Credential"
            aria-describedby="button-addon5"
            class="form-control"
          />
          <div class="input-group-append">
            <button id="user_search_btn" type="submit" class="btn btn-primary">
              <i class="bi bi-search"> </i>
            </button>
          </div>
        </div>

        <div class="user_tile d-none">
          <button id="select_this_user_btn" class="invisible_btn">
            <div class="d-flex gap-2">
              <div class="image_container">
                <div class="flex-shrink-0">
                  <img
                    id="user_tile_image"
                    src="http://localhost:3000/accets/default-avatar.jpg"
                    alt="Generic placeholder image"
                    class="img-fluid"
                    style="width: 50px; border-radius: 10px"
                  />
                </div>
              </div>
              <div class="details ms-2">
                <div style="text-align: start">
                  <span class="user_name"></span>
                </div>
                <div style="text-align: start">
                  <span class="user_credential"></span>
                </div>
              </div>
            </div>
          </button>
        </div>

        <div id="input_send_amount_container" class="d-none mt-4">
          <div class="h6">Enter amount</div>
          <div class="input-group mt-2">
            <div class="symbol">₹</div>
            <div class="input_field">
              <input
                id="sendToUserInput"
                class="invisible_btn"
                type="Number"
                value="0"
              />
            </div>
          </div>
          <div>
            <span
              class="invisible insufficient-fund-error"
              style="font-size: 14px; color: #ff0000"
              >Insufficient fund in wallet.</span
            >
          </div>
          <div class="continue-btn-container">
            <button id="continue_payment_btn" class="w-100 btn btn-warning">
              Continue
            </button>
          </div>
        </div>
      </div>

      <div class="transactionHistory d-none">
        <div class="transaction-history-btn-list-container">
          <div
            class="btn-group gap-5 transaction-history ms-4"
            role="group"
            aria-label="Basic example"
          >
            <button type="button" class="btn btn-link active all_btn">
              All
            </button>
            <button type="button" class="btn btn-link refund_btn">
              Refund
            </button>
            <button type="button" class="btn btn-link purchase_btn">
              Purchase
            </button>
            <button type="button" class="btn btn-link send_btn">Send</button>
          </div>
        </div>
        <div class="transaction-history-list"></div>
        <div class="pagination-btn-list d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="referalContainer d-none">
        <div class="referal-details ms-3 position-relative pb-5">
          <div class="h6">
            Invite friends to get
            <Span class="h5 ms-2" style="color: rgb(20, 133, 20)">₹100</Span>
          </div>
          <div class="details position-relative mb-4" style="z-index: 20">
            Invite firends to Fortnite and get ₹100 when your friends
            sucessfully sign in to the website.
          </div>
          <div class="d-flex align-items-center gap-2 mb-2">
            <span style="color: gray">Copy your code </span>
            <span class="referalCode fw-bold"></span>
            <button class="btn copy-to-clipboard code-btn p-0">
              <i class="bi bi-clipboard fw-bold"></i>
            </button>
          </div>
          <div class="d-flex align-items-center gap-2">
            <span style="color: gray">Copy invitation link </span>
            <button class="btn btn-light copy-to-clipboard invite-link-btn">
              Invite
            </button>
          </div>

          <div class="side-image position-absolute">
            <img width="165px" src="/accets/referal-side-image.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const credential = "<%=locals.credential %>";
  let balance = "<%=locals.balance%>";
</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="js/user/wallet.js"></script>
