<div class="cart-container p-1 p-md-3 container">
    <div class="cartContiner row gap-3" style="gap: 20px">
        <div class="cartItemContainer col-12 col-md-8 p-1 p-md-3">
            <div class="cart-header p-3">
                <h3 class="">Your Wish List</h3>
                <hr>
            </div>
            <div id="products-container">

            </div>
            <div class="noProductMessage ">
                <div class="header ms-3 d-flex flex-column align-items-center">
                    <img src="accets/empty-cart.png" width="200px" alt="">
                    <span class="m-auto">Your wish list is empty.</span>
                </div>
            </div>
        </div>
        <div class="next-order-suggestion col-12 col-md-3 bg-primary">
            
        </div>
    </div>
</div>

<script src="js/user/wishList.js"></script>
<script src="https://kit.fontawesome.com/981a38a7c9.js" crossorigin="anonymous"></script>